.row:nth-child(odd) {
    background-color: #B3C4FF;
    border-top-left-radius: 0.5rem;
  }

.row{
    padding: 5rem;
    border-radius: 5rem;
  }

  tr >td {
    padding: 0.8rem;
    font-weight: 600;
  }

.radiusStart{

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.radiusEnd{
  
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-decoration: underline;
}

.icon{
  display: flex;
  gap: 0.5rem;
}