.tableContainer {
  border-collapse: collapse;
  border: none;
  width: 80%;
}

.headers{
   background-color:#5076FF;
   color: white;
}

tr>th{
  padding: 0.5rem 1rem;
}

.radiusStart {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.radiusEnd {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}